<div class="bg-white lg:px-8">
  <div class="max-w-3xl py-4 sm:py-8 lg:py-12">
    <h2 class="sm:text-2xl md:text-3xl text-rose-400 font-semibold">
      Lily Opus
    </h2>
    <div class="mt-2">
      <h4 class="text-lg text-gray-700">
        <span class="font-semibold">Opus</span> is a Latin term that means Works.
        <span class="font-semibold">Rails Opus</span>, which stands for a collection of works with Rails.
      </h4>
      <ul class="mt-2 ml-4 list-disc text-lg">
        <li class="py-2">
          <%= link_to "New works", "/works/new", class: "font-semibold hover:underline" %> 
        </li>
        <li class="py-2">
          <%= link_to "Go to library", "/library", class: "font-semibold hover:underline" %> 
        </li>
      </ul>
    </div>
  </div>
</div>