<div class="container flex flex-col w-full gap-4 my-8">
  <div class="flex items-center gap-2 title text-primary">
    <h1 style="view-transition-name: title">Sheet Music</h1>
  </div>
  <%= form_with url: library_path, method: :get, data: {controller: "auto-submit", turbo_frame: "talks", turbo_action: "advance"} do |form| %>
    <%= form.search_field :query, value: params[:query], placeholder: "Search a sheet music", class: "w-full input" %>
  <% end %>

  <%= turbo_frame_tag "talks", target: "_top" do %>
    <div id="talks" class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gallery">
    </div>
    <div class="flex mt-4 w-full">
    </div>
  <% end %>
</div>
