<nav class="bg-rose-500 py-4 px-5">
  <div class="flex items-center justify-between flex-wrap max-w-4xl mx-auto">
    <div class="flex items-center mr-6">
      <a href="/" class="text-white font-bold text-xl tracking-tight">
        Lily Opus
      </a>
    </div>
    <div class="flex items-center w-auto text-md">
      <a href="/works/new" class="block no-underline lg:inline-block text-white hover:underline mr-4">
        New Opus
      </a>
      <a href="/library" class="block no-underline lg:inline-block text-white hover:underline mr-4">
        Library
      </a>
    </div>
  </div>
</nav>
